#map {
    height: 500px;
    width: 100%;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}
.ol-tooltip-measure {
opacity: 1;
font-weight: bold;
}
.ol-tooltip-static {
background-color: #ffcc33;
color: black;
border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
border-top: 6px solid rgba(0, 0, 0, 0.5);
border-right: 6px solid transparent;
border-left: 6px solid transparent;
content: "";
position: absolute;
bottom: -6px;
margin-left: -7px;
left: 50%;
}
.ol-tooltip-static:before {
border-top-color: #ffcc33;
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    display: none;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.container {
    display: flex;
    margin-top: 10px;
}
.measureBtn {
    display: inline;
    width: 100%;
}
.layerCreate {
    display: inline-block;
    width: 100%;
    text-align: end;
}
.addItems {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.measureBtn button {
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
}
.addItems Button{
    padding: 10px;
    font-size: 15px;
}

#wmsInput {
    height: 40px;
    font-size: 15px;
    text-align: center;
    display: inline;
}

#wmsBtn {
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
    display: inline-block;
}

.layerCreate button {
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.layerCreate select {
    height: 43px;
    margin-right: 10px;
    font-size: 15px;
}

.wmsInfo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wmsInfo button {
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
}

#wmsTable {
    border: 2px solid;
    margin-top: 10px;
    align-items: center;
}
#wmsTable th, tr, td {
    border: 1px solid;
}